In [1]:
#add two num
def add_two_num(a,b):

    t=a+b
    return t
add_two_num(4,8)

12

In [2]:
#hello  to universe
print('hello universe')

hello universe

In [4]:
#find the square root

def sq_rt(n):
    
    return n**2
sq_rt(8)

64

In [7]:
# cal area of triangle
def area(a,b,c):
    if a+b>c and b+c>a and c+a>b:
        s=(a+b+c)/2
        area= (s*((s-a)+(s-b)+(s-c)))**0.5
        return area 
    else:
        return 'triangle not exist'
area(3,9,4)

'triangle not exist'

In [8]:
#swap two variable
def swap_two_variable(a,b):
    swapped_num=a,b=b,a
    return swapped_num
swap_two_variable(9,8)

(8, 9)

In [9]:
#convert kilometer to miles(1km=0.621 miles)
def conv_km_mile(n):
    miles=n/0.621
    return miles
conv_km_mile(39)

62.80193236714976

In [10]:
# check type of integer
def check_type_int(n):
    if n>0:
        return 'positive'
    elif n<0:
        return 'negative'
    else:
        return '0'
check_type_int(-5)

'negative'

In [11]:
#check even or odd
def check_num_odd_even(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'
check_num_odd_even(9)

'odd'

In [12]:
#check leap yr
def leap_yr(n):
    if n%4==0 and n%100!=0:
        return 'leap year '
    else:
        return 'not leap year'
leap_yr(2000)

'not leap year'

In [18]:
#find largest if three nums are given
def largest_num(a,b,c):
    if a>b and a>c:
        return "a is greatest"
    elif b>c and b>a:
        return 'b is greatest'
    elif c>a and c>b:
        return "c is greatest"
    elif a>c and a==b :
        return 'a and b are greatest'
    elif a>b and b==c:
        return 'a and c are greatest'
    elif b>a and b==c:
        return 'b and c are greatest'
    elif c>a and b==c:
        return 'b and c are greatest'
    elif c>b and a==c:
        return 'a and c are greatest'
    elif b>c and b==a:
        return 'a and a are greatest'
    else:
        return 'all are equal'
largest_num(4,4,0)

'a and b are greatest'

In [20]:
# check prime or not
def check_prime(n):
    for i in range(2,n+1):
        if n%i==0:
            return 'not_prime'
        else:
            return 'prime'
check_prime(7)

'prime'

In [24]:
#generate a random number
import random
num=random.randint(1,10)
print(num)

2

In [38]:
#def prime_num in an interval
def prime_bet_two_num(a,b):
        new_list=[]
        for num in range(a,b+1):
            if num>1:
                for i in range(2,num):
                    if num%i ==0:
                        break
                else:
                     new_list.append(num)
        return new_list
           
prime_bet_two_num(8,45)#recheck

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43]

In [39]:
#conveert celccius to frahenite
def conv_cel(c):
    f=(9/5)*c+32
    return f
conv_cel(78)

172.4

In [40]:
#factorial of a number
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
fact(5)

120

In [ ]:
def fact(n):
    if n==0 or n==1:
        return '1'
    return fact(n*fact(n-1))
pass #redo

In [52]:
#display the multiplication table of a given num
def table(n):
    for i in range(1,11):
        print( n,'x',i,'=', n*i)
table(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [53]:
#print fibonacci series
def fib_series(n):
    a,b=0,1
    new_list=[]
    for i in range(n+1):
        new_list.append(a)
        a,b=b,a+b
    return new_list
fib_series(8)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [56]:
#check armstrong numbers
def check_armstrong(n):
    original=n
    num_digits=len(str(n))
    checked=0
    while n>0:
        digit=n%10
        checked+=digit**num_digits
        n=n//10
    if original==checked:
        return True
    else:
        return False
check_armstrong(153)

True

In [64]:
#to find armstrong num in an intrval
def arm_in_interval(a,b):
    for num in range(a,b+1):
        num_digits=len(str(num))
        checked=0
        while num>0:
            digit=num%10
            checked+=digit**num_digits
            num=num//10
        if num==checked:
            print(num)
    
arm_in_interval(8,1000) #redo

In [65]:
#sum of natural_num in interval
def sum_of_natural_num(n):
    sum=0
    for i in range(1,n+1):
        sum+=i
    return sum
sum_of_natural_num(90)

4095

In [66]:
#display power of 2 using anonymous function
def sq_of_2(n):
    power_of_2= [lambda x: (2**x)(i)for i in range(n)]
    return power_of_2
sq_of_2(7)

[<function __main__.sq_of_2.<locals>.<lambda>(x)>,
 <function __main__.sq_of_2.<locals>.<lambda>(x)>,
 <function __main__.sq_of_2.<locals>.<lambda>(x)>,
 <function __main__.sq_of_2.<locals>.<lambda>(x)>,
 <function __main__.sq_of_2.<locals>.<lambda>(x)>,
 <function __main__.sq_of_2.<locals>.<lambda>(x)>,
 <function __main__.sq_of_2.<locals>.<lambda>(x)>]

In [1]:
#numbers divisible by another number
def check_divisiblity(n):
    new_list=[]
    for i in range(1,n+1):
        if n%i==0:
            new_list.append(i)
    return new_list
check_divisiblity(72)

[1, 2, 3, 4, 6, 8, 9, 12, 18, 24, 36, 72]

In [2]:
#check divisibility by another number in a given list
def check_div(my_list,n):
    new_list=[]
    for i in my_list:
        if i%n==0:
            new_list.append(i)
    return new_list
check_div([8,9,114,4,98],3)

[9, 114]

In [12]:
#check divisibility of num by another num given in a list.append
def check_div(my_list):
    new_list=[]
    for i in range(len(my_list)):
        for j in range(i+1,len(my_list)):
            if my_list[i]%my_list[j]==0:
                new_list.append(my_list[i])
    return new_list
check_div([6,18,97,78,5,6])

[6, 18, 78]

In [17]:
#convert decimal to binary,octal and hexadecimal
def dec(n):
    bin=0
    i=1
    while n>0:
        rem =n%2
        bin+=rem*i
        i*=10
        n=n//2
    return bin
dec(3)

11

In [18]:
def oct(n):
    oct=0
    i=1
    while n>0:
        rem=n%8
        oct+=rem*i
        i*=10
        n=n//8
    return oct
oct(89)

131

In [19]:
def hexadecimal(n):
    hex=0
    i=1
    while n >0:
        rem=n%16
        hex+=rem*i
        i*=10
        n=n//16
    return hex
hexadecimal(576)

240

In [1]:
#find ASCII value of character Q.no. 24

In [4]:
#find HCF
def hcf(a,b):
    smaller_num=min(a,b)
    for i in range(1,smaller_num+1):
        if a%i==0 and b%i==0:
            hcf=i
    return hcf 
hcf(5,10)

5

In [5]:
#find the factor of a number
def factor(n):
    new_list=[]
    for i in range(1,n+1):
        if n%i==0:
            new_list.append(i)
    return new_list
factor(87)

[1, 3, 29, 87]

In [7]:
#make a simple calculator
def calculator(a,b):
    if sum(a,b):
        return a+b
   
    pass

In [8]:
# shuffle deck of cards
import random
num = random.randint(1,13)
print(num)

10

In [24]:
# display calender
import calendar
def cal_dr(year,month):
    caler= calendar.month(year,month)
    return caler
cal_dr(1987,11)

'   November 1987\nMo Tu We Th Fr Sa Su\n                   1\n 2  3  4  5  6  7  8\n 9 10 11 12 13 14 15\n16 17 18 19 20 21 22\n23 24 25 26 27 28 29\n30\n'

In [27]:
#calculate factorial using recursion
def fact_cal(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact_cal(n-1)
fact_cal(5)

120

In [28]:
# calculate fact by recursion
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
fact(9)

362880

In [16]:
# display fibonacci sequence using recursion
def fib_series(n):
   if n<0:
      return 'invalid input'
   elif n==1:
      return 0
   elif n==2:
      return 1
   else:
      return fib_series(n-1)+ fib_series(n-2)
   
   #generate the fibonacci series upto n terms
def generate_fib_series(n):
   if n<0:
      return 'invalid inputt'
   else:
      print('fibonaci series:')
      for i in range(1,n+1):
         print (fib_series(i),end =' ')

   
generate_fib_series(4)

fibonaci series:
0 1 1 2

In [21]:
#sum of natural number using recurssion
def sum_natural_num(n):
    if n<=0:
        return 0
    else:
        return (n)+sum_natural_num(n-1)
sum_natural_num(9)

45

In [22]:
#factorial using recursion
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
fact(7)

5040

In [41]:
#convert dec to bin using recursion
def dec_to_bin(n):
    if n>1:
        dec_to_bin(n//2)
    print(n%2,end='')
dec_to_bin(3)

11

In [46]:
#add two matrices
def add_matrices(x,y):
    resultant =[[0,0],[0,0]]
    for i in range(len(x)):
        for j in range(len(x[0])):
            resultant[i][j]=x[i][j]+y[i][j]
    for r in resultant:
        print(r)
add_matrices([[8,1],[1,0]],[[8,1],[1,0]])

[16, 2]
[2, 0]

In [56]:
# check whether a string is palindrome or not
def palin(my_string):
    new_string =''
    for i in range(len(my_string)-1,-1,-1):
        new_string+=my_string[i] 
    if new_string==my_string:
        return ' it is a palindrom'
    else:
        return 'not'
palin('abcba')

' it is a palindrom'

In [60]:
# remove punctuation  from a string
def rem_punctu(my_string):
    new_string = ''
    for i in my_string:
        if i == '.' or i==',' or i=='!' or i=='?':
            continue
        else:
            new_string+=i
    return new_string
rem_punctu('i am swati, age 18. from bihar!')

'i am swati age 18 from bihar'

In [8]:
# count the number of each vowel in a given strin and store it in a dictionary
def count_vowel(my_string): 
    new_dict ={}
    for i in my_string:
        if i in 'aeiou':
           count=0
           if i=='a' or i =='e' or i =='o' or i=='i' or i=='u':
            count+=1
        new_dict[i]=count
    return  new_dict
count_vowel('i am swati  from bihar east champaran currently i am too much enthusiastic to learn coding')

{'i': 2,
 ' ': 2,
 'a': 2,
 'm': 2,
 's': 2,
 'w': 2,
 't': 2,
 'f': 2,
 'r': 2,
 'o': 2,
 'b': 2,
 'h': 2,
 'e': 2,
 'c': 2,
 'p': 2,
 'n': 2,
 'u': 2,
 'l': 2,
 'y': 2,
 'd': 2,
 'g': 2}

In [10]:
# merge two dictionery
def merge_dict(dict_1,dict_2):
    combined_dict={}
    combined_dict= dict_1.copy()
    for key,value in dict_2.items():
        combined_dict[key]=value
    return combined_dict
merge_dict({'a':5,'b':6},{'c':6,'d':9})

{'a': 5, 'b': 6, 'c': 6, 'd': 9}

In [2]:
#safely create a nestedd dictionary
students= {
    'student1 ':{'a':7,'b':9},
    'student2': {'d':9 ,'k':4}
}

print(students)

{'student1 ': {'a': 7, 'b': 9}, 'student2': {'d': 9, 'k': 4}}

In [4]:
# acess index of a list using for loop

def indices_elements(my_list,n):
    for i in my_list:
        if my_list[i]==n:
           return i
indices_elements([1,2,3,4,5,6,7],5)

4